/*Inport fonts*/
@font-face {
  src: url("../fonts/JacquesFrancois-Regular.ttf");
  font-family: Jacq;
}
@font-face {
  src: url("../fonts/LibreBodoni-Regular.ttf");
  font-family: Libre;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.fa{
  padding: 5%;
}

/*Start of header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger{
  cursor: pointer;
  font-size: 30px;
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: inherit;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*End of Header*/
body{
  background-color: black;
}
h1,h2{
  font-family: Jacq;
  color: #6187C4;
}
p,a,li{
  font-family: libre;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 15px;
   margin: auto;
   font-size: 19px;

}
footer p {
  padding: 5px;
}
@media (max-width:768px) {
  footer{
    position: sticky;
      left: 0;
      bottom: 0;%;
  }
}
/*information for nav*/
.links{
  padding-right: 20px;
}
.links li{
  display: inline;
  font-size: 20px;
  padding: 20px;
}
/*End of information for nav*/

/*Information on home page*/
.nameslogan{
  padding: 75px;
}
.nameslogan h1{
  text-align: center;
  font-size: 80px;
}
.nameslogan p{
  text-align: center;
  font-size: 30px;
}

.calltoaction{
  text-align: center;
}
.calltoaction p{
  font-size: 20px;
}
.calltoaction a{
  padding: 14px 25px;
  display: inline-block;
  font-size: 30px;
  color: #f0ffff;
  background-color: #2A3B57;
}
@media (max-width:768px) {
  .nameslogan{
    padding: 75px 0;
  }

}
/*End of information on home page*/

/*information on about me page*/
.aboutpage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme{
  padding: 100px;
  padding-right: 25px;
  text-align: center;
}
.abouttitle{
  padding:25px;
  font-size: 50px;
}
.myself{
  padding-right: 200px;
  padding-top:50px;
  padding-bottom:55px;
  padding-left: 25px;
}
@media (max-width:768px) {
  .aboutpage{
    flex-wrap: wrap;
  }
  .aboutme{
    width: 100%;
    padding: 0;
  }
  .myself{
    padding: 30px 0;
    justify-content: center;
  }
}
/*End of information on about me page*/

/*Information on Career page*/
.careertitle{
  font-size: 50px;
  text-align: center;
}
.python, .htmls{
  padding: 0 50px;
  padding-left:10%;
  padding-right: 40%;
}
.pythonhead, .Cpphead, .htmlhead{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pylogo, .cpplogo, .htmllogo{
  width:75px;
  height:75px;
  padding: 10px;
}

.cpp{
  padding-left:40%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10%;
}
@media (max-width:768px) {
  .python, .cpp, .htmls{
    padding: 15px 50px;
  }
}
/*End of information on Career page*/

/*Intormation on works page*/
table {
    margin-right:auto;
    margin-left:auto;
    width:80%;
}

tr th{
    display:table-cell;
    text-align:center;
}
tr:nth-child(odd){
  background-color:#2A3B57;
}
tr:nth-child(even){
  background-color: #825257;
}
td{
  text-align: center;
}

.workhead{
  padding: 50px;
}
.workhead h1{
  font-size: 50px;
  text-align: center;
}
.workhead p{
  font-size: 30px;
  text-align: center;
}

/*End of information on works page*/

/*Start of information on contact page*/
textarea{
  background-color:#2a3b57;
  resize: none;
 }

.contacthead{
  text-align: center;
}
.contactform{
  display: flex;
  justify-content: center;
}
.contactfield{
  padding: 10px 0;
}

#firstname, #lastname, #emailaddress{
  padding: 5px;
}
.button{
  display: flex;
  justify-content: center;
}
#button{
  padding: 5px;
  background-color: #825257;
}

@media (max-width:768px) {
  .contacthead{
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
/*End of information on contact page*/
