* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  list-style: none;
}

.links li{
  display: inline;
  font-size: 20px;
  padding: 20px;
}

.nameslogan{
  padding: 75px;
}

.nameslogan h1{
  text-align: center;
  font-size: 80px;
  color: #6187C4;
}

.nameslogan p{
  text-align: center;
  font-size: 30px;
}

.calltoaction{
  text-align: center;
}

.calltoaction a{
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  color: #f0ffff;
  background-color: #2A3B57;
}
br{
  padding:50px;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

}
